html, body {
    margin: 0;
    overscroll-behavior: none;
    height: 100%;
    width: 100%;
    font-family: Monaco, monospace;
    font-size: 13px;
}

canvas {
    height: 100% !important;
    width: 100% !important;
}

li,
a,
button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*transition: 0.6s;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15%;
    z-index: 10000;
}
header.sticky > svg {
    fill: black;
}
header.sticky > nav > ul > li > a {
    color: black;
}

header.sticky {
    padding: 20px 15%;
    background: #f3f3f3;
}

.nav__link {
    list-style: none;
}

.nav__link li {
    display: inline-block;
    padding: 0 20px;
}

.nav__link li a {
    transition: all 0.3s ease 0s;
    letter-spacing: 2px;
}

.nav__link li a:hover {
    color: #ff81ff;
}

button {
    padding: 10px 25px;
    background-color: rgba(255, 129, 255, 0.85);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 129, 255, 1);
    transition: all 0.3s ease 0s;
}