<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>


<header>
    <nav>
        <ul class="nav__link">
            <%= htmlWebpackPlugin.options.nav %>
        </ul>
    </nav>
    <button class="cta" type="button">Contact</button>
</header>

<script>
    window.addEventListener("scroll", function () {
        let header = document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0);
    });
</script>
</body>
</html>